target
.settings
.project
.classpath
*~
.metadata
.attach*
*.releaseBackup
release.properties
*.versionsBackup

schema-utilities/examples/org.jibx.android.test.app/bin
schema-utilities/examples/org.jibx.android.test.app/gen
org.opentravel/_2010B/opentravel-schema/schema/src/main/schema/ota-schema
org.opentravel/_2011A/opentravel-schema/schema/src/main/schema/ota-schema
org.opentravel/_2011B/opentravel-schema/schema/src/main/schema/ota-schema
org.opentravel/_2012A/opentravel-schema/schema/src/main/schema/ota-schema
org.opentravel/_2012B/opentravel-schema/schema/src/main/schema/ota-schema
org.opentravel/_2013A/opentravel-schema/schema/src/main/schema/ota-schema
org.opentravel/_2013B/opentravel-schema/schema/src/main/schema/ota-schema
org.opentravel/_2014A/opentravel-schema/schema/src/main/schema/ota-schema
org.opentravel/_2014B/opentravel-schema/schema/src/main/schema/ota-schema
gen
bin
derby.log

.idea
*.iml
*.lock

