<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>JiBX Schema Library Project</title>
    <author email="don@tourgeek.com">Don Corley</author>
  </properties>

  <!-- Optional HEAD element, which is copied as is into the XHTML <head> element -->
  <head>
    <meta name="description" content="JiBX Schema Library Project"/>
    <meta name="keywords" content="JiBX Schema Library Project, Java Schema binding, JiBX, Open Source"/>
  </head>

  <body>

     <section name="Contributing to the JiBX Schema Library Project">

      <p><b>JiBX Schema Library Project</b> is collection of pre-built <a href="http://jibx.org">JiBX</a> java schema bindings.</p>
      
      <p>Contributing to the Schema Library is easy. We have several great tools.
      You can also hire a schema analyst to do it for you. The <a href="team-list.html">JiBX team</a> are experts in JiBX and schema
      analysis.
      </p>
      
     <p>Our rules are simple:</p>
     <ul>
     <li>Your schema must be publicly accessible. This means it has to have
     a web-based home (For example, the wsdl2.0 schema definition lives at
     <a href="http://www.w3.org/2006/01/wsdl/wsdl20.xsd">http://www.w3.org/2006/01/wsdl/wsdl20.xsd</a>).</li>
     <li>Your schema groupId and java package name must start with org.jibx.schema. Remember, these artifacts are globally accessible.
     We highly recommend using the names generated by our tools.</li>
     </ul>

     <subsection name="Contributing your schema to the library">
     
     <p>There are several ways to contribute your project to the schema library.</p>
     
     <ul>
     <li><a href="../contributing.html">Become a JiBX contributor.</a> Then, follow the instructions below and on step 4, <code>git push</code>.</li>
     <li><a href="#Contribute your project as a jira patch">Contribute your project as a jira patch.</a></li>
     <li>Hire an <a href="team-list.html">expert</a> develop and deploy your project.</li>
     <li>Develop a project on your own site. Send us the information, so we can link to it!</li>
     </ul>
     
     <subsection name="Contribute your project as a jira patch">
     <p>
     If you don't want to become a JiBX contributor, just submit your project as a patch:
     <ol>
     <li>Check out the schema library:<br/>
     git clone git://jibx.git.sourceforge.net/gitroot/jibx/schema-library</li>
     <li>Add your project to the library using the tools described above.</li>
     <li>Do a local commit.<br/>
     git add .<br/>
     git commit -m "Add my schema"</li>
     <li>Create a patch file:<br/>
     git format-patch origin..master</li>
     <li><a href="http://jira.codehaus.org/secure/BrowseProject.jspa?id=10410">Create
     a new issue (type 'New Feature') under the 'maven plugin' component. Assign it to
     'Don Corley' and attach your patch file(s)</a>. I'll test it and release it
     on the next cycle.</li>
     </ol>
     We highly recommend using the generated package and artifact names. Future tools may 
     generate references using these generated names.<br/>
     If you would like to include more detailed documentation on your project,
     create a sub-directory in the 'site' project. For an example, see the
     <a href="./site.html#opentravel.org">opentravel.org</a> project.
     </p>
     </subsection>
     </subsection>
     
    </section>

  </body>

</document>