 -----
 JiBX Open Schema Project
 -----
 Don Corley
 -----
 Apr 24, 2012
 -----

Web service example

 Instructions on building and running a JiBX web service example.
 
* Example

 Step 1: Checkout the web service sample from our source repository. This example is very similar
 to the cxf web service example.
 
 If you would like to see a more detailed example which implements a REST and SOAP service
 using the same service object,
 check out my {{{blog here}http://blog.tourgeek.com/2012/04/creating-soap-and-and-rest-services-for-opentravel.html}}.
 
+-----+
 git clone git@github.com:jibx/schema-library.git
 cd schema-library/schema-utilities/examples/opentravel-webservice/opentravel-ping/opentravel-ping-service
 mvn clean install
+-----+

 Step 2: Download {{{http://servicemix.apache.org/}Apache servicemix}} and start it up.
 
+-----+
 tar zxvf apache-servicemix-x.x.x.tar.gz
 cd apache-servicemix-x.x.x
 bin/servicemix
+-----+

 Step 3: Add the jibx repository then add the JiBX OSGi bundles.

+-----+
 features:install obr
 obr:addurl http://www.jibx.org/repository.xml
 obr:deploy org.jibx.schema.org.opentravel._2011B.ping.ws.service
 obr:deploy org.jibx.schema.org.opentravel._2011B.ping.ws.rest
 obr:deploy org.jibx.schema.org.opentravel._2011B.ping.ws.soap
 # ctrl+d (stop servicemix) - You must restart karaf due to an auto-wiring problem
 # bin/servicemix (restart servicemix)
 start org.jibx.schema.org.opentravel._2011B.ping.ws.service
 start org.jibx.schema.org.opentravel._2011B.ping.ws.rest
 start org.jibx.schema.org.opentravel._2011B.ping.ws.soap
+-----+

 Step 4: Click this link {{{http://localhost:8181/cxf/ping/ping/Hello}http://localhost:8181/cxf/ping/ping/Hello}} to test the RESTful service.
 Load client.html (from the opentravel-ping-service project root directory) into your favorite browser
 and click 'send'. Most browsers will display the soap xml message returned from the web
 service (some will just display 'status: 0'). To see the wsdl from servicemix, {{{http://localhost:8092/ping?wsdl}Click here}}.
 
That's it!